
    <div id="wrapper">
      <h1>Scrape and Comment!</h1>
      <h2><i>You can also leave comments! NO WAY!.</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    <script src="app.js"></script>