
    <div id="wrapper">
      <h1>Scrape and Comment!</h1>
      <h2><i>You can also leave comments! NO WAY!.</i></h2>
      <row class="row">
        <div id="articles" class="col-md-6"></div>
        <div id="comments" class="col-md-6"></div>
      </row>
    </div>
    <script src="app.js"></script>